<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MSCR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
        <h3 class="w3-bar-item">Management</h3>
        <a href="#" class="w3-bar-item w3-button">Menu</a>
        <a href="@Url.Action("Index", "Category")" class="w3-bar-item w3-button">Category</a>
        <a href="@Url.Action("Index", "Product")" class="w3-bar-item w3-button">Product</a>
        <a href="#" class="w3-bar-item w3-button">Ingredients</a>
        <a href="#" class="w3-bar-item w3-button">Feedback</a>
    </div>
    <div style="margin-left:5%">

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>MSCR_TienNM</p>
            </footer>
        </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
