@model Project.EF.user
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/fonts/Font(css,js)/Logincss.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper fadeInDown" style="padding-top:100px;">
        <div id="formContentRe">
            @using (Html.BeginForm("Register", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <h1 style="text-align:center;margin-bottom:50px;margin-top:30px;">Đăng ký</h1>
                <form method="post" action="">
                    <p class="field-validation-error">@Html.DisplayFor(Model => Model.LoginErrorMsg)</p>
                    @Html.AntiForgeryToken()
                    <div style="display:flex; margin-bottom:30px;">
                        <div class="regis">
                            @Html.LabelFor(Model => Model.name, "Tên người dùng")
                            @Html.EditorFor(Model => Model.name)
                            @Html.ValidationMessageFor(Model => Model.name)
                        </div>
                        <div class="regis">
                            @Html.LabelFor(Model => Model.username, "Tên đăng nhập")
                            @Html.EditorFor(Model => Model.username)
                            @Html.ValidationMessageFor(Model => Model.username)
                        </div>
                    </div>
                    <div style="display:flex; margin-bottom:30px;">
                        <div class="regis">
                            @Html.LabelFor(Model => Model.password, "Mật khẩu")
                            @Html.PasswordFor(Model => Model.password)
                            @Html.ValidationMessageFor(Model => Model.password)
                        </div>
                        <div class="regis">
                            @Html.LabelFor(Model => Model.address, "Địa chỉ")
                            @Html.EditorFor(Model => Model.address)
                            @Html.ValidationMessageFor(Model => Model.address)
                        </div>
                    </div>
                    <div style="display:flex; margin-bottom:30px;">
                        <div class="regis">
                            @Html.LabelFor(Model => Model.phone_num, "Số điện thoại")
                            @Html.EditorFor(Model => Model.phone_num)
                            @Html.ValidationMessageFor(Model => Model.phone_num)
                        </div>
                        <div class="regis">
                            @Html.LabelFor(Model => Model.email, "Địa chỉ email")
                            @Html.EditorFor(Model => Model.email)
                            @Html.ValidationMessageFor(Model => Model.email)
                        </div>
                    </div>
                    <div class="bg">
                        <input class="btn btn-success btnsubmit" type="submit" name="commit" value="Đăng ký">
                        <p>Đã có tài khoản @Html.ActionLink("đăng nhập", "Index", "Login")<p>
                        <p>Quên mật khẩu? @Html.ActionLink("đổi mật khẩu ngay", "Index", "ForgotPassword")</p>
                    </div>
                </form>
            }
        </div>
    </div>
</body>
</html>