@model Project.EF.ingredient

<h3>Bạn có muốn xóa thành phần này không?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Thành Phần
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <br>
        <dt>
            Mô Tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <br>
        <dt>
            Đơn Vị
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.disable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disable)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" style="margin-right:10px;" />
           <button class="btn btn-secondary"> @Html.ActionLink("Quay lại", "Index")</button>
        </div>
    }
</div>
