@model Project.EF.ingredient

<div>
    <h4>Thành Phần</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Thành Phần 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <br>
        <dt>
            Mô Tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <br>
        <dt>
            Đơn Vị 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.disable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disable)
        </dd>

    </dl>
</div>
<p>
   <button> @Html.ActionLink("Edit", "Edit", new { id = Model.id })</button> |
    <button>@Html.ActionLink("Back to List", "Index")</button>
</p>
