@model IEnumerable<Project.EF.ingredient>

<button>
    @Html.ActionLink("Create New", "Create")
</button>
<link href="~/Style/Style.css" rel="stylesheet" />
<br>
<table class="table" id="t01">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.disable)
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.disable)
        </td>
        <td>
            <button>@Html.ActionLink("Sửa", "Edit", new { id = item.id })</button>
            <button>@Html.ActionLink("Chi Tiết", "Details", new { id = item.id })</button>
            <button>@Html.ActionLink("Xóa", "Delete", new { id = item.id })</button>
        </td>
    </tr>
}

</table>
