@model Project.ViewModels.ChangePasswordViewModels
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Change Password</title>
    <link href="~/Style/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="login">
        @using (Html.BeginForm("ResetPassword", "ChangePassword", FormMethod.Post))
        {
            <h1>Change Password</h1>
            <form method="post" action="">
                <p class="field-validation-error">@Html.DisplayFor(Model => Model.ErrorMsg)</p>
                <p>@Html.LabelFor(Model => Model.OldPassword)</p>
                <p>@Html.EditorFor(Model => Model.OldPassword)</p>
                <p>@Html.ValidationMessageFor(Model => Model.OldPassword)</p>
                <p>@Html.LabelFor(Model => Model.NewPassword)</p>
                <p>@Html.EditorFor(Model => Model.NewPassword)</p>
                <p>@Html.ValidationMessageFor(Model => Model.NewPassword)</p>
                <div class="bg">
                    <p class="submit"><input type="submit" name="commit" value="Change Password"></p>
                </div>
            </form>
        }
    </div>


</body>
</html>