@model Project.EF.user
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="~/Style/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="login">
        @using (Html.BeginForm("Authourise", "Login", FormMethod.Post))
        {
            <h1>Login to Web App</h1>
            <form method="post" action="">
                <p>@Html.LabelFor(Model => Model.username)</p>
                <p>@Html.EditorFor(Model => Model.username)</p>
                <p>@Html.ValidationMessageFor(Model => Model.username)</p>
                <p>@Html.LabelFor(Model => Model.password)</p>
                <p>@Html.EditorFor(Model => Model.password)</p>
                <p>@Html.ValidationMessageFor(Model => Model.password)</p>
                <p class="field-validation-error">@Html.DisplayFor(Model => Model.LoginErrorMsg)</p>
                <p class="remember_me">
                    <label>
                        <input type="checkbox" name="remember_me" id="remember_me">
                        Remember me
                    </label>
                </p>
                <p class="submit"><input type="submit" name="commit" value="Login"></p>
            </form>
        }
    </div>

    <div class="login-help">
        <p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
    </div>

</body>
</html>