
@{
    ViewBag.Title = "InProcess";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
@model IEnumerable<Project.EF.order_detail>
<head>
    <link href="~/fonts/Font(css,js)/OrderList.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="~/Scripts/qrcode.js"></script>
    <link href="~/fonts/Font(css,js)/COModal.css" rel="stylesheet" />
</head>
<body>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 style="margin-top:80px;font-weight:700;">Chi tiết đơn hàng</h1>
        </div>
    </section>

   
        <div style="display: flex; justify-content: center; text-align: center;"  id="qrcode"></div>
        <div style="text-align:center;margin-bottom:30px;font-style:italic;">Sử dụng mã QR code để nhận đồ ăn</div>
 
    <script type="text/javascript">
       
        new QRCode("qrcode", {
            text: "http://localhost:51293/InputOrder/IndexQR?orderID=" + @ViewBag.orderID + "&recieved_code=" + @ViewBag.code,
            //text: "http://localhost:51293/OrderDetail?oID=6024",
            width: 256,
            height: 256,
            colorDark: "black",
            colorLight: "white",
            correctLevel: QRCode.CorrectLevel.H
        });
    </script>


    <div class="container mb-4">
        <div class="row">
            <div style="display:block; width:600px;margin-left:270px;margin-right:270px;">
                <div style="display:flex; width:400px;margin-left:100px;margin-right:100px;margin-bottom:20px;">
                    <div style="margin-right: 90px"><span style="font-weight:500;font-size:18px;">Mã đơn hàng: </span>@ViewBag.orderID</div>
                    <div><span style="font-weight:500;font-size:18px;">Mã nhận đơn: </span>@ViewBag.code</div>
                </div>
                <div style="display:flex; width:400px;margin-left:100px;margin-right:100px;margin-bottom:20px;">
                    <div style="margin-right: 55px"><span style="font-weight:500;font-size:18px;">Ngày sử dụng: </span>@ViewBag.takeDate.ToShortDateString()</div>
                    <div><span style="font-weight:500;font-size:18px;">Bữa ăn: </span>@ViewBag.takeTime</div>
                </div>
            </div>
            <div style="border: 1px dotted red;border-radius: 5px;width:600px;margin-left:270px;margin-right:270px;text-align:center;">
                <div class="col-12">
                    <br />
                    <div class="table-responsive">
                        <table class="table table-borderless">

                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        Tên món ăn
                                    </th>
                                    <th>
                                        Số tiền
                                    </th>
                                    <th>
                                        Số lượng
                                    </th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="@Url.Content(item.product.img)" alt="Sample Image" width="70" style="height:70px;border-radius:50px;" />
                                        </td>
                                        <td style="vertical-align:middle;">
                                            @Html.DisplayFor(modelItem => item.product.name)
                                        </td>
                                        <td style="vertical-align:middle;">
                                            @Html.DisplayFor(modelItem => item.price) đ
                                        </td>
                                        <td style="vertical-align:middle;">
                                            @Html.DisplayFor(modelItem => item.quantity)
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <hr /><br />
                        <h4 class="alignRight">Tổng số tiền @ViewBag.total đ </h4><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" style="margin-bottom:80px;">

        <a href="~/OrderList/Index" class="btn btn-success text-white" style="cursor:pointer; width:100px;height:40px;">
            Quay lại
        </a>
    </div>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <h4>Bạn có muốn hủy đơn hàng của mình không?</h4>
                <div style="display: flex; align-items: center; justify-content: center;margin-top:30px;margin-bottom:20px;">
                    <a href="#" class="btn btn-success my-0 p" style="margin-right:30px;width:150px;">
                        Xác Nhận
                    </a>
                    <button class="btn btn-danger my-0 p" type="submit" style="width:150px;">
                        Hủy
                    </button>
                </div>
            </div>

        </div>

    </div>
    <script src="~/fonts/Font(css,js)/COModal.js"></script>
</body>


