@model IEnumerable<Project.EF.order_detail>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Số Order
        </th>
        <th>
            Tên Món Ăn
        </th>
        <th>
            Giá
        </th>
        <th>
            Số Lượng
        </th>
        <th>
            Tổng Tiền
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.order.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_price)
        </td>

    </tr>
}

</table>
