@model IEnumerable<Project.EF.order_detail>

<h4>Chi Tiết Đơn Hàng</h4>
<br>
<link href="~/Style/Style.css" rel="stylesheet" />
<table class="table table-striped table-bordered" id="t01">
    <tr>
        <th>
            Số Order
        </th>
        <th>
            Tên Món Ăn
        </th>
        <th>
            Giá
        </th>
        <th>
            Số Lượng
        </th>
        <th>
            Tổng Tiền
        </th>



    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price) đ
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_price) đ
            </td>

        </tr>



    }

   

</table>
 <h4 class="alignRight">Tổng số tiền @ViewBag.total đ </h4>
