@model Project.EF.menu_detail

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Thêm món ăn cho Menu</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.menuId, "Chọn Menu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.menuId, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.menuId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.productID, "Chọn món ăn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.productID, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.productID, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            @Html.LabelFor(model => model.disable, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.disable)
                    @Html.ValidationMessageFor(model => model.disable, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo Mới" class="btn btn-success" style="margin-right:10px;"/>
                <button class="btn btn-secondary">
                    @Html.ActionLink("Quay Lại", "Index")
                </button>
            </div>
        </div>
    </div>
}


