@model IEnumerable<Project.EF.menu_detail>

<button>
    @Html.ActionLink("Tạo Mới", "Create")
</button>
<br><br>
<link href="~/Style/Style.css" rel="stylesheet" />
<table class="table" id="t01">
    <tr>
        
        <th>
           Món Ăn
        </th>
        <th>
            Giá
        </th>
        <th>
            Tên Menu
        </th>
        <th>
            @Html.DisplayNameFor(model => model.disable)
        </th>
        
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product.name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menu.menu_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.disable)
        </td>


        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
