@model PagedList.IPagedList<Project.EF.menu>
@using PagedList.Mvc;
<h4>Danh Sách Menu</h4>
<button class="btn btn-success" style="margin-right:10px;">
    @Html.ActionLink("Tạo Mới", "Create")
</button>
<button class="btn btn-success">@Html.ActionLink("Thêm món ăn cho Menu", "CreateMenuDetail")</button>
<br><br>
<link href="~/Style/Style.css" rel="stylesheet" />
<table class="table table-striped table-bordered" id="t01">

    <tr>
        <th>
            Ngày Tạo
        </th>
        <th>
            Tên Menu
        </th>
        <th>
            Người Tạo
        </th>
        <th>
            Mô tả
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date_create)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.menu_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <div class="wrapper">
                    <div style="margin:auto;">
                        <button class="btn btn-primary">@Html.ActionLink("Chi Tiết", "Details", new { id = item.id })</button>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
<br />


    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    / @Model.PageCount
    <br><br>

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
