@model Project.EF.category

<div>
    <h4>Phân Loại Món Ăn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Loại Món Ăn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        
        <dd>
            Mô Tả
        </dd>

        <br>
        <dt>
            @Html.DisplayNameFor(model => model.disable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disable)
        </dd>

    </dl>
</div>
<button class="btn btn-secondary">  
  @Html.ActionLink("Quay Lại", "Index")
</button>
