@model IEnumerable<Project.EF.product_ingresients>
<h4>Thành Phần Món Ăn</h4>
<button>
    @Html.ActionLink("Thêm Mới Thành Phần", "Create_Ingredient")
</button>
<br>
<br>
<link href="~/Style/Style.css" rel="stylesheet" />
<table class="table table-striped" id="t01">
    <tr>
        <th>
         Tên Món Ăn
        </th>
        <th>
         Tên Thành Phần 
        </th>
        <th>
         Số Lượng
        </th>
        
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
             @Html.DisplayFor(modelItem => item.product.name)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ingredient.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
               
                <button>@Html.ActionLink("Xóa", "Delete", new {  id=item.productID  })</button>
            </td>
        </tr>
    }

</table>
