@model PagedList.IPagedList<Project.EF.product>
@using PagedList.Mvc;
<link href="~/Style/Style.css" rel="stylesheet" />



<h4>Món Ăn</h4>
<button>
    @Html.ActionLink("Tạo Mới", "Create")
</button>
<br /><br />
<div class="container" style="display:flex;">
    <div class="dropdown" style="margin-right:700px;">
        <button class="btn btn-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Loại Món Ăn
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="@Url.Action("Product_By_Category", new { categoryID = 3})">Cơm</a>
            <a class="dropdown-item" href="@Url.Action("Product_By_Category", new { categoryID = 4})">Bún</a>
            <a class="dropdown-item" href="@Url.Action("Product_By_Category", new { categoryID = 5})">Xôi</a>
            <a class="dropdown-item" href="@Url.Action("Product_By_Category", new { categoryID = 6})">Nước</a>
            <a class="dropdown-item" href="@Url.Action("Product_By_Category", new { categoryID = 7})">Đồ ăn Vặt</a>
        </div>
    </div>
    <div>


        <form action="Product/Product_By_Name_Search">
            <p>
                <input type="text" name="pname">
                <input type="submit" value="Tìm kiếm" />
            </p>
        </form>


    </div>
</div>

<br>
<br>

<table class="table table-striped" id="t01">
    <tr>
        <th>
            Tên Món Ăn
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Giá
        </th>
        <th>
            Ảnh
        </th>
        <th>
            Combo
        </th>

        <th>
            Loại
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                <img src="@Url.Content(item.img)" alt="Sample Image" width="220" style="height:200px;" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isCombo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.category.name)
            </td>
            <td>
                <button>@Html.ActionLink("Sửa", "Edit", new { id = item.id })</button><br>
                <button>@Html.ActionLink("Chi Tiết", "Details", new { id = item.id })</button><br>
                <button>@Html.ActionLink("Xóa", "Delete", new { id = item.id })</button><br>

                <button>@Html.ActionLink("Xem Thành Phần", "Details_Ingredient", new { id = item.id })</button>

            </td>
        </tr>
    }

</table>

<br />


    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    / @Model.PageCount
<br><br>

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


