@model Project.EF.user



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Vô hiệu hóa tài khoản</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        

        <div class="form-group">
            @Html.LabelFor(model => model.is_active, "Bỏ chọn để vô hiệu hóa tài khoản", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.is_active)
                    @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Vô hiệu hóa" class="btn btn-danger" style="margin-right:10px;" />
                <button class="btn btn-secondary">
                    @Html.ActionLink("Back to List", "Index")
                </button>
            </div>
        </div>
    </div>
}

