@model IEnumerable<Project.EF.user>


<h2>Quản lí nhân viên</h2>
<br><br>

<button class="btn btn-success">
    @Html.ActionLink("Tạo Mới", "Create")
</button>
<br><br>
<link href="~/Style/Style.css" rel="stylesheet" />
<table class="table table-striped table-bordered" id="t01">
    <tr>
        <th>
           Tên đăng nhập
        </th>


        <th>
            Họ tên
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Email
        </th>
        <th>
           Ảnh đại diện
        </th>
        <th>
           Xác thực email
        </th>

        

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            <img src="@Url.Content(item.avt_img)" alt="Sample Image" width="300px" />

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email_verified)
        </td>



        <td>


            <button class="btn btn-danger">@Html.ActionLink("Xóa", "Edit", new { id = item.id })</button><br>

        </td>
    </tr>
    }

</table>
