@model IEnumerable<Project.EF.time_menu>
<h4>Menu Hàng Ngày</h4>
<button>
    @Html.ActionLink("Tạo Mới", "Create")
</button>
<br>
<br>
<link href="~/Style/Style.css" rel="stylesheet" />
<table class="table table-striped" id="t01">
    <tr>
        <th>
            Ngày Tạo
        </th>
        <th>
            Bữa Sáng
        </th>
        <th>
            Bữa Trưa
        </th>
        <th>
            Bữa Tối
        </th>
        <th>
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date_service)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menu.menu_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menu2.menu_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menu1.menu_name)
        </td>
        <td>
            <button>@Html.ActionLink("Sửa", "Edit", new { date_service = item.date_service })</button>
            <button>@Html.ActionLink("Xóa", "Delete", new { date_service = item.date_service })</button>
        </td>
    </tr>
}

</table>
