
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
@model  IEnumerable <Project.Models.CartItem>
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 style="margin-top:120px;font-weight:800;">Giỏ Hàng</h1>
        </div>
    </section>
   
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-hover" style=" border: 2px solid #dee2e6; ">
                       
                        <thead>
                            <tr>
                                <th scope="col" style="width:100px;"></th>
                                <th scope="col" style="width:220px;">Tên sản phẩm</th>
                                <th scope="col" style="width:145px;">Ngày</th>
                                <th scope="col" style="width:130px;">Bữa</th>
                                <th scope="col" style="width:110px;">Giá</th>
                                <th scope="col" class="text-center" style="width:150px;">Số lượng</th>
                                <th scope="col" class="text-center">Tổng tiền</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var item in Model)
                            {

                                    <tr>
                                        <td class="menu-img" style="background-image: url(@Url.Content(item.Product.img))"></td>
                                        <td>@Html.DisplayFor(modelItem => item.Product.name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                        <td></td>
                                        <td>@Html.DisplayFor(modelItem => item.Product.price)</td>
                                        <td><input type="number" class="form-control text-center" value="@Html.DisplayFor(modelItem => item.Quantity)" min="1">  </td>
                                        <td class="text-center">@Html.DisplayFor(modelItem => item.totalProduct)</td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-danger">
                                                <i class="fa fa-trash"></i>
                                                @Html.ActionLink("Xóa", "RemoveItem", new { productID = item.Product.id })
                                            </button>
                                        </td>
                                    </tr>
                                    

                                }
                            </tbody>
                      
                        
                        
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="font-weight:800;font-size:22px;">Tổng cộng :</td>
                                <td class="text-center" style="font-weight:800;font-size:22px;">@ViewBag.totalPrice</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-6" style="font-weight:600;">
                        Phương thức thanh toán: Tài khoản hệ thống
                    </div>
                    <div class="col-sm-12  col-md-6">
                        <button class="btn btn-block btn-danger btn-lg"> @Html.ActionLink("Tiếp tục mua hàng", "Home","Home")</button>
                        <a class="btn btn-lg btn-block btn-success text-uppercase" href="~/CheckOut/CheckOut">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>