
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
@model  IEnumerable <Project.Models.CartItem>
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/fonts/Font(css,js)/COModal.css" rel="stylesheet" />
</head>
<body>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 style="margin-top:120px;font-weight:800;">Giỏ Hàng</h1>
        </div>
    </section>
    @if (ViewBag.cartEmpty == 1)
    {
        <h3 style="text-align:center;">Giỏ hàng hiện chưa có sản phẩm nào</h3>
    }
    else
    {




    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-hover" style=" border: 2px solid #dee2e6; ">

                        <thead>
                            <tr>
                                <th scope="col" style="width:100px;height:70px;"></th>
                                <th scope="col" style="width:220px;">Tên sản phẩm</th>
                                <th> </th>
                                <th> </th>
                                <th scope="col" style="width:110px;">Giá</th>
                                <th scope="col" class="text-center" style="width:150px;">Số lượng</th>
                                <th scope="col" class="text-center">Tổng tiền</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody style="font-weight:600;">

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td><img style="width:80px;height:80px; border-radius: 50%;" src="@Url.Content(item.Product.img)"></td>
                                    <td>@Html.DisplayFor(modelItem => item.Product.name)</td>
                                    <td></td>
                                    <td></td>
                                    <td>@Html.DisplayFor(modelItem => item.Product.price)</td>
                                    <td class=" text-center"><i style="color:orange;cursor:pointer;padding-right:10px;" class="fa fa-minus" onclick="location.href='@Url.Action()'"></i>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                    <i style="color:blue;cursor:pointer;padding-left:10px;" class="fa fa-plus" onclick="location.href='@Url.Action()'"></i></td>
                                    <td class="text-center">@Html.DisplayFor(modelItem => item.totalProduct)</td>
                                    <td class="text-center">
                                        <button class="btn btn-sm btn-danger" onclick="location.href='@Url.Action("RemoveItem", new { productID = item.Product.id })'">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>


                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="font-weight:800;font-size:22px;">Tổng cộng :</td>
                                <td class="text-center" style="font-weight:800;font-size:22px;">@ViewBag.totalPrice</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6" style="font-weight:600;">
                    Phương thức thanh toán: Tài khoản hệ thống
                </div>
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-block btn-danger btn-lg" onclick="location.href='@Url.Action("Home", "Home")'">Tiếp tục mua hàng</button>
                    <a id="myBtn" class="btn btn-lg btn-block btn-success text-uppercase" >Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
    }
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
            </div>

           
            <div class="modal-body">
                @if (Session["username"] == null)
                {
                    <h4>Bạn cần phải đăng nhập để thực hiện thanh toán!</h4>
                    <div style="display: flex; align-items: center; justify-content: center;margin-top:30px;margin-bottom:20px;">
                        <a class="btn btn-success my-0 p" style="margin-right:30px;width:150px;" href="~/Login">
                            Xác Nhận
                        </a>
                        <button class="btn btn-danger my-0 p" type="submit" style="width:150px;">
                            Hủy
                        </button>
                    </div>
                }
                else
                {
                   
                    <h4>Bạn có muốn chuyển sang trang thanh toán không!</h4>
                    <div style="display: flex; align-items: center; justify-content: center;margin-top:30px;margin-bottom:20px;">
                        <a class="btn btn-success my-0 p" style="margin-right:30px;width:150px;" href="~/CheckOut/CheckOut">
                            Xác Nhận
                        </a>
                        <button class="btn btn-danger my-0 p" type="submit" style="width:150px;">
                            Hủy
                        </button>
                    </div>
                }
            </div> 
          
        </div>

    </div>
    <script src="~/fonts/Font(css,js)/COModal.js"></script>
</body>
</html>